
*{
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

.Container{
  display: flex;
  padding: 20px;
  width: 1280px;
  height: 800px;
  background-color: white;
}

.MenuArea{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 15px;
  border-radius: 25px;
  border: grey solid 1px;
  margin-right: 10px;
  margin-left: 10px;
  width: 170px;
  height: 600px;
  background-color: transparent;
  justify-content: space-around;
}

.CanvasArea{
  display: flex ;
  /* background-image: url('snowy-background4.jpg'); */
  background-size: 100% 100%;
  padding: 15px;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  border: grey solid 1px;
  width: 1000px;
  height: 700px;
}

.background1{
  background-image: url('snowy-background4.jpg');
  background-size: 100% 100%;
}

.background2{
  background-image: url('moon.jpeg');
  background-size: 100% 100%;
}


.Image{
  background-image: url('Red_Ball.gif');
  margin: 5px;
  padding-top:5px;
  padding-left:5px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: grey solid 1px;
 
}

.Canvas{
  display:flex;
  /* background-color: aquamarine; */
  /* background-image: url('xmas_tree_3'); */
  margin: 15px;
  width: 950px;
  height: 650px;
  
}

.TreeArea{
  display:grid;
  /* background-color: lightcoral; */
  background-image: url('Xmas_Tree.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
  width: 450px;
  height: 650px;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(13, 50px);
}

.TextAreaHelper{
  display:inline-flexbox;
  /* background-color: lightgoldenrodyellow; */
  text-align: center;
  padding-top: 100px;
  padding-left: 30px;
  font-size: 36px;
  width:500px;
  height:650px;
}


.hold{
  border: grey dashed 1px;
  background-color: white;
}

.hidden{
  display: none;
}