.yellowball{
  background-image: url('Yellow_Ball.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}